* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}
.imagesProduct{
	width: 120px;
	height: 120px;
	background: #FFFFFF;
	float:left;
}
.divProduct{
	position: relative;
}
.infoProduct{
	margin-left: 20px;
	width: 400px;
	margin-top: 0;
	line-height: 1;
	float:left;
}
p{
	margin-top: 10px;
}
.priceProduct{
	margin-top: 10px;
	float:left;
	width: 100px;
}
.sellerProduct{
	float:left;
	width: 150px;
	vertical-align: top;
}
.trProduct{
	height: 150px;
}
.buttonProduct{
	margin-top:-50px;
	vertical-align: center;
}
.image_link{
	width: 120px;
	height: 120px;
}
.buttondatmua{
	margin-left: 10px;
}

tr {
}